@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

.navbar-custom {
    background-color: #ffffff;
}

.footer-custom {
    background-color: #ffffff;
}

.info-custom{
  background-color: #1A1A1A;
  color: #ffffff;
}

.btnreservcita-custom{
  background-color: #FFCC33;
  color:#1A1A1A
}

.cardService-custom{
  background-color: #ffffff;
}

/* Contenedor general para centrar todo el contenido */
.page-container {
  max-width: 1200px;   /* No más ancho que 1200px */
  width: 100%;
  margin: 0 auto;      /* Centrado horizontal */
  padding: 1rem;       /* Espaciado interno */
}

/* Opcional: evita que algo se salga accidentalmente */
body, html {
  overflow-x: hidden;
}

/* Cambiar color de las flechas */
.swiper-button-next,
.swiper-button-prev {
  color: #ffffff !important; /* tu color */
}

/* Para cambiar el tamaño si quieres */
.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 30px !important;
}
